@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
}
.container {
  min-height: 65vh;
}
#mainbox{
  min-height: 30vh;
}

/* applying padding for not moving element */
.navbar ul li a {
  padding-bottom: 4px;
}
.navbar ul li a:hover {
  border-bottom: 3px solid orangered;
  padding-bottom: 0px;
}

/* css for the fizz buzz */
#output {
  color: #04aa6d;
  font-weight: 500;
  font-size: 20px;
  text-align: normal;
  word-wrap: break-word;
}

#resultcol {
  background-color: #e9ecef;
}
.op1 {
  color: red;
}
.op2 {
  color: blue;
}
.op3 {
  color: darkorange;
}
.op4 {
  color: darkviolet;
}

.btn {
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
}

.finalans {
  font-weight: bold;
  color: blue;
  font-size: 30px;
}
.card-title {
  font-weight: 600;
}

.resultbox {
  font-size: 20px;
  border-left: 5px solid #04aa6d;
}

.myfooter {
  position: static;
  margin-top: 50px;
  bottom: 0;
}
.mycard {
  background: #e5f8fc;
}

.social-icons {
  margin: 10px;
  text-align: center;
}
.social-icons li {
  text-decoration: none;
  list-style-type: none;
  display: inline;
  margin: 0px;
}
.social-icons li a i {
  padding: 10px;
  border-radius: 50%;
  background-color: #fff;
}
.social-icons li a:hover {
  color: blue;
}

.__headingtext{
  border-left: 5px  solid #04aa6d;
  padding: 10px;
  font-weight: 700;
}
.col-6{
  margin-bottom: 5px;
}


@media screen and (max-width: 600px) {
  .title_heading {
    font-size: 30px;
  }
  .col-6,
  .col-3 {
    width: 100%;
  }
}